body{
  margin: 0;
  background-color: black;
}
#gg{
    position: absolute;
    left: 42%;
    top: 20%
}
div{
    position: absolute;
    top: 33%;
    left: 35%;
}
#pesq{
    font-size: medium;
    padding-left: 50px;
    position: absolute;
    border-radius: 25px ;
    width: 30vw;
    height: 5vh; 
    border: none;
    outline: none;
    background-color:white;
}
#lupa{
    left: 15px;
    top: 13px;
    position: relative;
    width: 20px;
    height: 20px;
}
#mic{ position: relative;
    width: 15px;
    height: 20px; 
    left: 55vh;
    top: 13px; 
}
header{
    display: flex;
    justify-content: right;
    position: relative;
    align-items: center;
    gap: 2rem;
    margin-top: 20px;
    margin-right: 20px;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: white;
    text-decoration: none;
    
}
#pontos{
    filter: invert(100%);
    width: 15px;
    height: 15px;
}

#senai1 {
    border-radius: 50px;
    width: 45px;
    height: 42px;
    padding: 20px; 
    top: 8vh;
    left: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
#senai1:hover{
    cursor: pointer;
    background-color: gray;
    border-radius: 10px;
}
#github{
    border-radius: 30px;
    filter: invert(100%);
    width: 40px;
    height: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 8vh;
    left: 7vw;
}
#github:hover{
    cursor: pointer;
    background-color: gray;
    border-radius: 10px;
}
#adds{
    border-radius: 30px;
    filter: invert(100%);
    width: 40px;
    height: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 8vh;
    left: 17vw;
}
#adds:hover{
    cursor: pointer;
    background-color: gray;
    border-radius: 10px;
}


/* #senai1{ 
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 47vh;
    left: 38vw;
    border-radius: 10px;   
}
#senai1 img {
    border-radius: 60px;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 60px;  
}
#senai1:hover{
    cursor: pointer;
    background-color: gray;
}
#github {
    filter: invert(100%);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-radius: 10px;   
}
#github img{
    border-radius: 60px;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 60px;
    
}
#github:hover{
    cursor: pointer;
    background-color: gray;
} */